:root {
    --columns: 1;
    --rows: 1;
}

.grid {
    /*display: flex;*/
    /*flex-direction: column;*/
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    border: 1px solid grey;
}

.row {
    display: flex;
    flex-direction: row;
}